<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<title>Bored</title>
	<link rel="stylesheet" type="text/css" href="css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="css/default.css">
	<link rel='stylesheet prefetch' href='http://fonts.useso.com/css?family=Open+Sans'>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<!--[if IE]>
		<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
</head>
<style type="text/css">
	/*#hang{*/
		/*width:1000px;*/
		/*height: 2000px;*/
	/*}*/
</style>
<body>

	<div class="demo" id="hang">
			  <svg class="sidebar" viewBox="0 0 300 500">
			    <path class="s-path" fill="#fff" d="M0,0 50,0 a0,250 0 1,1 0,500 L0,500" />
			  </svg>
			  <div class="static">
			    <div class="static__text">左滑进入</div>
			  </div>
			  <div class="sidebar-content" id="dingyao">

			  </div>
			  <div class="chat">
			    <span class="chat__back"></span>
			    <span class="chat__status">status</span>
			    <div class="chat__person">
			      <span class="chat__online active"></span>
			      <span class="chat__name">Huehue Huehue</span>
			    </div>
			    <div class="chat__messages">






			      <div id="aaa">
					  <div class="chat__msgRow">
						  <div class="chat__message mine">欢迎来到Bored</div>
					  </div>
					  <div class="chat__msgRow">
						  <div class="chat__message notMine">Good!</div>
					  </div>
				  </div>

			      <div class="chat__msgRow">
			        <div class="chat__message mine">
			        </div>
			      </div>
			    </div>
			    <input type="text" class="chat__input" id="text_ding" placeholder="想说点什么" />
				  <div  id="sendtext" style="border: #0e71c8 2px">发送 </div>
			  </div>
			</div>



	<script type="text/javascript" src='js/stopExecutionOnTimeout.js?t=1'></script>
	<script type="text/javascript" src='js/jquery.min.js'></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://yx-web.nos.netease.com/official/websdk/NIM_Web_SDK_v4.8.0.js"></script>
<script type="text/javascript">

	var  a=localStorage.getItem('BORED');
	var b=JSON.parse(a);
	if(b==null){
		location.href="index";
	}
	 $.ajax({
	 	type : "GET", //请求类型
	 	url : "http://127.0.0.1:9000/api/pal/GetuserPal", //请求的url
	 	data : {
	 		bored:b.token
	 	},
	 	dataType : "json", //ajax接口（请求url）返回的数据类型
	 	success : function(data) { //data：返回数据（json对象）
	 		if (data.message!=null) {
	 			alert("用户还没有登陆");
				location.href="index";
	 		}else if(data.data[0]!=null){
	 			var item=data.data;
				var html="";
				for (let i = 0; i <item.length; i++) {

                  //  alert(JSON.stringify(item[i]));
                   // alert(item[i].friendNicename)
				}
	 			for(let i=0;i<item.length;i++){
	 			    let friendNicename= item[i].friendNicename;
	 			    let friendUserId=item[i].friendUserId;
                    if(friendNicename!=null){
                    	html+="<div class=\"contact\">" +
                    			"<img src='img/1.png' alt=''class='contact__photo' />" +
								"<span class='friendUserId'  style='display: none'>"+friendUserId+"</span>" +
                    			"<span class='contact__name'>"+friendNicename+"</span>" +
                    			"<span class=\"contact__status online\"></span>"+
                    			"</div>";
                    }else{
						html+="<div class=\"contact\">" +
								"<img src=\"img/6.png\" alt=\"\" class=\"contact__photo\" />" +
								"<span class='friendUserId' style='display: none'>"+friendUserId+"</span>" +
								"<span class=\"contact__name\">"+friendUserId+"</span>" +
								"<span class=\"contact__status online\"></span>"+
								"</div>";
					}
				}
	 			html+="    <div class=\"search\">\n" +
                    " <img src=\"img/t8TeL1S.png\" alt=\"\" class=\"search__img\" />" +
                    " <input type=\"text\" class=\"search__input\" placeholder=\"Search\" />" +
                    " </div>";
					$("#dingyao").html(html);
			} else {
                $("#dingyao").html("    <div class=\"search\">"+"你还没有好友"+"</div>");
	 		}
	 	},
	 	error : function(data) {//当访问时候，404，500 等非200的错误状态码
	 		alert("获取好友列表失败 出现了我无法预知的错误");
	 	}
	 })
	//初始化之后就链接SDK
	connectSDK();
	//页面的内容
	var htmlmassage="";







	var nim;
	var data=null;

	function connectSDK () {
		var account = b.accid;
		var token = b.token;
		nim = SDK.NIM.getInstance({
			appKey: '53d4384297427bff1eb901be42f2e18a',
			account: account,
			token: token,
			onroamingmsgs: onRoamingMsgs,
			onofflinemsgs: onOfflineMsgs,
			onmsg: onMsg,
			onconnect:onconnect,
			ondisconnect: ondisconnect,
			onerror: onerror
		})
	}


	function onconnect () {
		alert('SDK 连接成功')
	}
	function  ondisconnect(obj) {
		alert('SDK 连接断开')
	}
	function  onerror (error) {
		alert('SDK 连接失败')
	}

	function onRoamingMsgs(obj) {
	//	alert('  收到漫游消息')
		console.log('收到漫游消息', obj.msgs[0].text);
		pushMsg(obj.msgs);

		htmlmassage+="<div class=\"chat__msgRow\">"+
				"<div class=\"chat__message mine\">"+obj.msgs[0].text+"</div>"+
				"</div>";
		$("#aaa").html(htmlmassage);
	}
	function onOfflineMsgs(obj) {
		//alert('  收到离线消息')
		console.log('收到离线消息', obj.msgs[0].text);
		pushMsg(obj.msgs);
		htmlmassage+="<div class=\"chat__msgRow\">"+
				"<div class=\"chat__message mine\">"+obj.msgs[0].text+"</div>"+
				"</div>";
		$("#aaa").html(htmlmassage);
	}
	function onMsg(msg) {
		//alert('  收到消息'+msg.text)
		console.log('收到消息', msg.scene, msg.type, msg);
		htmlmassage+="<div class=\"chat__msgRow\">"+
				"<div class=\"chat__message mine\">"+msg.text+"</div>"+
				"</div>";
		$("#aaa").html(htmlmassage);


		pushMsg(msg);
		switch (msg.type) {
			case 'custom':
				onCustomMsg(msg);
				break;
			case 'notification':
				// 处理群通知消息
				onTeamNotificationMsg(msg);
				break;
				// 其它case
			default:
				break;
		}
	}
	function pushMsg(msgs) {
		// if (!Array.isArray(msgs)) { msgs = [msgs]; }
		// var sessionId = msg[0].scene + '-' + msgs[0].account;
		// data.msgs = data.msgs || {};
		// data.msgs[sessionId] = nim.mergeMsgs(data.msgs[sessionId], msgs);
	}
	function onCustomMsg(msg) {
		// 处理自定义消息
	}

	document.getElementById('sendtext').addEventListener('click', function () {
		var massage=  $("#text_ding").val();
		// 回调通知示例
		nim.sendText({
			scene: 'p2p',//单  群
			to: '57ee6',//你要发给谁好友的accid
			text: massage,
			done: function sendMsgDone (error, msg) {
				// 此处为回调消息事件，仅仅通知开发者，消息是否发送成功
				if(error!=null){
					alert("消息失败"+msg)
				}{
					alert("发送成功");
					htmlmassage+="<div class=\"chat__msgRow\">"+
							"<div class=\"chat__message notMine\">"+massage+"</div>"+
							"</div>";
					$("#aaa").html(htmlmassage);
					$("#text_ding").val('');
				}

			}
		})
	})

</script>
</body>
</html>
