<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>手机app通用模板心理医生在线咨询专家列表页面模板</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <link href="css/styleb.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <!--

         * 17素材vip建站专区模块代码
         * 详尽信息请看官网：http://www.17sucai.com/pins/vip
         *
         * Copyright , 温州易站网络科技有限公司版权所有
         *
         * 请尊重原创，未经允许请勿转载。
         * 在保留版权的前提下可应用于个人或商业用途

        -->

        <section class="aui-flexView">
            <header class="aui-navBar aui-navBar-fixed b-line">
                <div class="aui-center">
                    <div class="aui-jop-search">
                        <i class="icon icon-search"></i>
                        <input type="text" placeholder="搜索话题、专家姓名">
                    </div>
                </div>
            </header>
            <section class="aui-scrollView">
                <div class="aui-image-text">
                    <a href="javascript:;" class="aui-flex ">
                        <div class="aui-shrink-img">
                            <img src="images/icon-head-fl1.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h2>咨询指南</h2>
                            <p>心理咨询是什么</p>
                        </div>
                    </a>
                    <a href="javascript:;" class="aui-flex ">
                        <div class="aui-shrink-img">
                            <img src="images/icon-head-fl2.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h2>在线客服</h2>
                            <p>在线解答随时服务</p>
                        </div>
                    </a>

                </div>
                <div class="divHeight"></div>
                <div class="aui-expert-list">
                    <a href="javascript:;" class="aui-flex">
                        <div class="aui-expert-user">
                            <img src="images/icon-user-001.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h1>孙俪</h1>
                            <h3>江苏省-南京</h3>
                            <span>
                                <em>恋爱婚姻</em>
                                <em>孩子教育</em>
                                <em>情绪压力</em>
                            </span>
                            <p><em>100元起</em>咨询次数 2555 好评率 100.00%</p>
                        </div>
                        <div class="aui-expert-chat">
                            <button>
                                <i class="icon icon-news"></i>
                                私聊
                            </button>
                        </div>
                    </a>
                    <a href="javascript:;" class="aui-flex">
                        <div class="aui-expert-user">
                            <img src="images/icon-user-002.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h1>徐丽</h1>
                            <h3>江苏省-南京</h3>
                            <span>
                                <em>恋爱婚姻</em>
                                <em>孩子教育</em>
                                <em>情绪压力</em>
                            </span>
                            <p><em>100元起</em>咨询次数 2555 好评率 100.00%</p>
                        </div>
                        <div class="aui-expert-chat">
                            <button>
                                <i class="icon icon-news"></i>
                                私聊
                            </button>
                        </div>
                    </a>
                    <a href="javascript:;" class="aui-flex">
                        <div class="aui-expert-user">
                            <img src="images/icon-user-003.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h1>李艳</h1>
                            <h3>江苏省-南京</h3>
                            <span>
                                <em>恋爱婚姻</em>
                                <em>孩子教育</em>
                                <em>情绪压力</em>
                            </span>
                            <p><em>100元起</em>咨询次数 2555 好评率 100.00%</p>
                        </div>
                        <div class="aui-expert-chat">
                            <button>
                                <i class="icon icon-news"></i>
                                私聊
                            </button>
                        </div>
                    </a>
                    <a href="javascript:;" class="aui-flex">
                        <div class="aui-expert-user">
                            <img src="images/icon-user-004.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h1>孙俪</h1>
                            <h3>江苏省-南京</h3>
                            <span>
                                <em>恋爱婚姻</em>
                                <em>孩子教育</em>
                                <em>情绪压力</em>
                            </span>
                            <p><em>100元起</em>咨询次数 2555 好评率 100.00%</p>
                        </div>
                        <div class="aui-expert-chat">
                            <button>
                                <i class="icon icon-news"></i>
                                私聊
                            </button>
                        </div>
                    </a>
                    <a href="javascript:;" class="aui-flex">
                        <div class="aui-expert-user">
                            <img src="images/icon-user-005.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h1>孙俪</h1>
                            <h3>江苏省-南京</h3>
                            <span>
                                <em>恋爱婚姻</em>
                                <em>孩子教育</em>
                                <em>情绪压力</em>
                            </span>
                            <p><em>100元起</em>咨询次数 2555 好评率 100.00%</p>
                        </div>
                        <div class="aui-expert-chat">
                            <button>
                                <i class="icon icon-news"></i>
                                私聊
                            </button>
                        </div>
                    </a>
                    <a href="javascript:;" class="aui-flex">
                        <div class="aui-expert-user">
                            <img src="images/icon-user-002.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h1>孙俪</h1>
                            <h3>江苏省-南京</h3>
                            <span>
                                <em>恋爱婚姻</em>
                                <em>孩子教育</em>
                                <em>情绪压力</em>
                            </span>
                            <p><em>100元起</em>咨询次数 2555 好评率 100.00%</p>
                        </div>
                        <div class="aui-expert-chat">
                            <button>
                                <i class="icon icon-news"></i>
                                私聊
                            </button>
                        </div>
                    </a>
                    <a href="javascript:;" class="aui-flex">
                        <div class="aui-expert-user">
                            <img src="images/icon-user-001.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h1>孙俪</h1>
                            <h3>江苏省-南京</h3>
                            <span>
                                <em>恋爱婚姻</em>
                                <em>孩子教育</em>
                                <em>情绪压力</em>
                            </span>
                            <p><em>100元起</em>咨询次数 2555 好评率 100.00%</p>
                        </div>
                        <div class="aui-expert-chat">
                            <button>
                                <i class="icon icon-news"></i>
                                私聊
                            </button>
                        </div>
                    </a>
                    <a href="javascript:;" class="aui-flex">
                        <div class="aui-expert-user">
                            <img src="images/icon-user-001.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h1>孙俪</h1>
                            <h3>江苏省-南京</h3>
                            <span>
                                <em>恋爱婚姻</em>
                                <em>孩子教育</em>
                                <em>情绪压力</em>
                            </span>
                            <p><em>100元起</em>咨询次数 2555 好评率 100.00%</p>
                        </div>
                        <div class="aui-expert-chat">
                            <button>
                                <i class="icon icon-news"></i>
                                私聊
                            </button>
                        </div>
                    </a>
                    <a href="javascript:;" class="aui-flex">
                        <div class="aui-expert-user">
                            <img src="images/icon-user-001.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h1>孙俪</h1>
                            <h3>江苏省-南京</h3>
                            <span>
                                <em>恋爱婚姻</em>
                                <em>孩子教育</em>
                                <em>情绪压力</em>
                            </span>
                            <p><em>100元起</em>咨询次数 2555 好评率 100.00%</p>
                        </div>
                        <div class="aui-expert-chat">
                            <button>
                                <i class="icon icon-news"></i>
                                私聊
                            </button>
                        </div>
                    </a>
                    <a href="javascript:;" class="aui-flex">
                        <div class="aui-expert-user">
                            <img src="images/icon-user-001.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h1>孙俪</h1>
                            <h3>江苏省-南京</h3>
                            <span>
                                <em>恋爱婚姻</em>
                                <em>孩子教育</em>
                                <em>情绪压力</em>
                            </span>
                            <p><em>100元起</em>咨询次数 2555 好评率 100.00%</p>
                        </div>
                        <div class="aui-expert-chat">
                            <button>
                                <i class="icon icon-news"></i>
                                私聊
                            </button>
                        </div>
                    </a>

                </div>
            </section>
        </section>

    </body>
</html>
