<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>手机通用app心理在线咨询咨询师介绍页面模板</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link href="css/stylea.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<!--

 * 17素材vip建站专区模块代码
 * 详尽信息请看官网：http://www.17sucai.com/pins/vip
 *
 * Copyright , 温州易站网络科技有限公司版权所有
 *
 * 请尊重原创，未经允许请勿转载。
 * 在保留版权的前提下可应用于个人或商业用途

-->
<section class="aui-flexView">
    <header class="aui-navBar aui-navBar-fixed">
        <a href="javascript:;" class="aui-navBar-item">
            <i class="icon icon-return"></i>
        </a>
        <div class="aui-center">
            <span class="aui-center-title">杨少波心理咨询师</span>
        </div>
        <a href="javascript:;" class="aui-navBar-item">
            <i class="icon icon-share"></i>
        </a>
    </header>
    <section class="aui-scrollView">
        <div class="aui-sel-bg">
            <div class="aui-sel-box"></div>
            <div class="aui-user-img">
                <img src="images/user-logo-001.png" alt="">
            </div>
            <div class="aui-sel-head">
                <h2>杨少波</h2>
                <p>国家二级 精神分析动力取向中德班</p>
            </div>
            <div class="aui-palace">
                <a href="javascript:;" class="aui-palace-grid">
                    <div class="aui-palace-grid-icon">
                                <span>
                                    6<em>年</em>
                                </span>
                    </div>
                    <div class="aui-palace-grid-text">
                        <h2>从业年限</h2>
                    </div>
                </a>
                <a href="javascript:;" class="aui-palace-grid">
                    <div class="aui-palace-grid-icon">
                                <span>
                                    1993<em>年</em>
                                </span>
                    </div>
                    <div class="aui-palace-grid-text">
                        <h2>咨询过</h2>
                    </div>
                </a>
                <a href="javascript:;" class="aui-palace-grid">
                    <div class="aui-palace-grid-icon">
                                <span>
                                    4<em>年</em>
                                    3<em>天</em>
                                </span>
                    </div>
                    <div class="aui-palace-grid-text">
                        <h2>入住时间</h2>
                    </div>
                </a>
            </div>
        </div>
        <div class="aui-color-box">
            <div class="aui-flex" style="padding-bottom:0">
                <div class="aui-flex-box">
                    <h2>
                        <i class="icon icon-zz"></i>
                        从业资质
                    </h2>
                </div>
            </div>
            <div class="aui-flex aui-flex-two">
                <div class="aui-flex-box">
                    <p>国家二级咨询师</p>
                </div>
                <div class="aui-img-right">
                    <img src="images/certificate.png" alt="">
                </div>
            </div>
            <div class="aui-flex" style=" padding-top:0">
                <div class="aui-flex-box">
                    <h2>
                        <i class="icon icon-zz icon-ly"></i>
                        擅长领域
                    </h2>
                </div>
            </div>
            <div class="aui-git-list">
                <a href="javascript:;">婚姻家庭</a>
                <a href="javascript:;">个人成长</a>
                <a href="javascript:;">人际关系</a>
            </div>
            <div class="aui-flex">
                <div class="aui-flex-box">
                    <h2>
                        <i class="icon icon-zz icon-dx"></i>
                        咨询对象
                    </h2>
                </div>
            </div>
            <div class="aui-git-list">
                <a href="javascript:;">青少年</a>
                <a href="javascript:;">中年人</a>
                <a href="javascript:;">学生</a>
            </div>
            <div class="aui-flex">
                <div class="aui-flex-box">
                    <h2>
                        <i class="icon icon-zz icon-fs"></i>
                        咨询方式
                    </h2>
                </div>
            </div>
            <div class="aui-palace aui-palace-two clearfix">
                <a href="javascript:;" class="aui-palace-grid">
                    <div class="aui-circle-img">
                        <img src="images/item-img01.png" alt="">
                    </div>
                    <div class="aui-palace-grid-icon">
                        <h2>语音通话</h2>
                    </div>
                    <div class="aui-palace-grid-text">
                        <h2>暂不提供</h2>
                    </div>
                </a>
                <a href="javascript:;" class="aui-palace-grid">
                    <div class="aui-circle-img">
                        <img src="images/item-img02.png" alt="">
                    </div>
                    <div class="aui-palace-grid-icon">
                        <h2>视频</h2>
                    </div>
                    <div class="aui-palace-grid-text">
                        <h2>
                            <i>￥</i>
                            500/次
                        </h2>
                    </div>
                </a>
                <a href="javascript:;" class="aui-palace-grid">
                    <div class="aui-circle-img">
                        <img src="images/item-img03.png" alt="">
                    </div>
                    <div class="aui-palace-grid-icon">
                        <h2>面对面</h2>
                    </div>
                    <div class="aui-palace-grid-text">
                        <h2>
                            <i>￥</i>
                            500/次
                        </h2>
                    </div>
                </a>
            </div>
            <div class="aui-text-con">
                <p>
                    个人咨询每次50分钟，面对面咨询仅限 <em>长沙市</em>
                </p>
            </div>
            <div class="aui-flex">
                <div class="aui-flex-box">
                    <h2>
                        <i class="icon icon-zz icon-sj"></i>
                        可预约时间
                    </h2>
                </div>
            </div>
            <div class="aui-git-list">
                <a href="javascript:;">工作日</a>
                <a href="javascript:;">工作日晚上</a>
                <a href="javascript:;">周末白天</a>
                <a href="javascript:;">周末晚上</a>
            </div>
            <div class="aui-text">
                <p>每周一至周六，北京时间9:00-21:00可以安排咨询。周日休息，只处理预约，不安排咨询。</p>
            </div>
            <div class="aui-flex">
                <div class="aui-flex-box">
                    <h2>
                        <i class="icon icon-zz icon-bz"></i>
                        心理平台保障
                    </h2>
                </div>
            </div>
            <div class="aui-card-info">
                        <span>
                            <i class="icon icon-tag"></i>
                            来访者隐私安全

                        </span>
                <span>
                            <i class="icon icon-tag"></i>
                            支持取消预约并退款

                        </span>
                <span>
                            <i class="icon icon-tag"></i>
                            咨询师资料100%真实

                        </span>
                <span>
                            <i class="icon icon-tag"></i>
                            咨询师入住5轮考核

                        </span>
            </div>
        </div>
    </section>
    <footer class="aui-footer-button aui-footer-flex aui-footer-fixed">
        <div class="aui-footer-wrap">
            <i class="icon-shop"></i>
            <span>关注</span>
        </div>
        <div class="aui-footer-wrap">
            <i class="icon-service"></i>
            <span>私信</span>
        </div>
        <div class="aui-footer-group aui-footer-flex1">
            <div class="aui-footer-flex">
                <div class="aui-btn aui-btn-gray">
                    <h2>立即预约</h2>
                </div>
            </div>
        </div>
    </footer>
</section>
</body>
</html>
