<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bored.mapper.AreasMapper">
  <resultMap id="BaseResultMap" type="com.bored.commons.domain.Areas">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="areaid" jdbcType="CHAR" property="areaid" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="cityid" jdbcType="CHAR" property="cityid" />
  </resultMap>
</mapper>
