<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TopicMapper">
  <resultMap id="BaseResultMap" type="Topic">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="headline" jdbcType="VARCHAR" property="headline" />
    <result column="userid" jdbcType="BIGINT" property="userid" />
  </resultMap>
</mapper>