<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bored.myshop.commons.mapper.GroupchatMapper">
  <resultMap id="BaseResultMap" type="com.bored.myshop.commons.domain.Groupchat">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="groupid" jdbcType="INTEGER" property="groupid" />
    <result column="groupname" jdbcType="VARCHAR" property="groupname" />
    <result column="groupuserid" jdbcType="BIGINT" property="groupuserid" />
    <result column="member_list" jdbcType="VARCHAR" property="memberList" />
    <result column="displayname" jdbcType="VARCHAR" property="displayname" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="grouptopicid" jdbcType="INTEGER" property="grouptopicid" />
  </resultMap>
</mapper>